.board {
    padding: 20px;
  }
  
  .columns {
    display: flex;
    /* justify-content: space-between; */
  }

  .selectBoard {
    margin: 20px 0;
    display: flex;
    align-items: center;
  }
  
  .selectBoard label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .selectBoard select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    outline: none;
    margin-left: 10px;
  }
  
  .selectBoard select:hover {
    border-color: #888;
  }
  
  .selectBoard select:focus {
    border-color: #555;
  }

  .addColumnButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: grey;
    margin-left: 10px;
    padding: 5px 10px; 
    border-radius: 5px; 
    padding: 10px 20px; 
  }
  
  .addColumnButton:hover {
    background-color: #e5e5e5; 
    color: grey; 
  }
  
  .addColumnIcon {
    margin-right: 5px;
  }
  
  .addColumnText {
    color: inherit; 
  }