.column {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 7px;
  margin: 0 10px; /* 컬럼 사이의 여백 */
  flex: 1; /* 각 컬럼이 동일한 비율로 공간 차지 */
  min-width: 200px; /* 최소 너비 설정 (선택적) */
  width: 350px;
}

  .columnHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .columnHeader h2 {
    margin: 0;
  }
  
  .columnIcons {
    display: flex;
    gap: 10px;
  }
  
  .editIcon,
  .deleteIcon {
    cursor: pointer;
    font-size: 18px;
    color: #888;
  }
  
  .editIcon:hover,
  .deleteIcon:hover {
    color: #555;
  }
  
  .editBox {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }
  
  .addCardIcon {
    cursor: pointer;
    margin-top: 20px;
    color: grey;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-radius: 5px;
    justify-content: center;
  }
  
  .addCardIcon:hover {
    background-color: #e5e5e5;
  }
  
  .addCardIcon svg {
    color: grey; 
    margin-right: 8px;
  }